
<div class="container-fluid p-5">

	
	<div class="d-flex align-items-center">
		<div class="">	
		<h1 class="mt-3">Add Service Set</h1>
		</div>
		<button class="ml-2" matTooltip="Choose a color for this Service Set" mat-button  [matMenuTriggerFor]="menu"
		><mat-icon style="color: grey">color_lens</mat-icon> </button>
	</div>	
	
	<div >	

	<mat-menu #menu="matMenu"  class="colors" style="box-sizing: border-box;">
		<div class="d-flex flex-wrap justify-content-center">	
  		<mat-icon style="color: #ef5350; font-size: 31px; cursor: pointer; " >circle</mat-icon>
  		<mat-icon style="color:#f9a825;font-size: 31px; cursor: pointer;" class="ml-2" >circle</mat-icon>
  		<mat-icon style="color:#2e7d32;font-size: 31px; cursor: pointer;" class="ml-2">circle</mat-icon>
  		<mat-icon style="color:#00695c;font-size: 31px; cursor: pointer;" class="ml-2">circle</mat-icon>
  		<mat-icon style="color:#283593; ;font-size: 31px;cursor: pointer;" class="ml-2">circle</mat-icon>
  
		</div>	
		<div class="d-flex flex-wrap justify-content-center mt-2">	
			<mat-icon style="color: #d81b60;font-size: 31px; cursor: pointer;" class="">circle</mat-icon>
	  		<mat-icon style="color: #f4511e;font-size: 31px;cursor: pointer;" class="ml-2">circle</mat-icon>
	  		<mat-icon style="color: #6d4c41;font-size: 31px; cursor: pointer;" class="ml-2">circle</mat-icon>
	  		<mat-icon style="color: #424242;font-size: 31px; cursor: pointer;" class="ml-2">circle</mat-icon>
	  		<mat-icon style="color: #8e24aa;font-size: 31px; cursor: pointer;" class="ml-2">circle</mat-icon>
		</div>
	</mat-menu>
	</div>

	<!-- <pre>{{this.wholeObject | json}}	</pre> -->

  		<mat-form-field appearance="outline" class="example-full-width">
    		<mat-label>Service Set Name</mat-label>
    		<input matInput [(ngModel)]="serviceSetName" (keyup)="serviceNameChange() " >
    		
  		</mat-form-field>
  		<mat-card style="background-color: #ef9a9a;" class=" text-light mb-3	" *ngIf="isServiceSetNameError">Service Set Name is required</mat-card>
  		<mat-form-field appearance="outline" class="example-full-width">
    		<mat-label>Description</mat-label>
    		<input matInput [(ngModel)]="serviceSetDescription" (keyup)="serviceDescChange() " >
  		</mat-form-field>

  		<mat-card style="background-color: #ef9a9a;"class=" text-light mb-3	" *ngIf="isServiceSetDescError">Description is required</mat-card>

	<div class="d-flex justify-content-end">
		<button mat-raised-button  color="primary" (click)="addHeader() "><mat-icon>add</mat-icon> Add Headers</button>
		<button mat-raised-button color="warn" (click)="addItem()" class="ml-1"><mat-icon>add</mat-icon> Add Item</button>

	</div>

	<table class="table table-bordered mt-4">
	  <thead>
	    <tr>
	      <th scope="col" *ngFor="let header of headers; let i =index">
	      <span *ngIf="i<=2">{{header.name}}</span>
	      
	      <div class="d-flex">
	      <input (ngModelChange)="modelChangeHeader($event)"  type="text" name="header.name" [(ngModel)]="header.name" class="form-control" *ngIf="i>2" value="{{header.name}}">
	      <button  mat-raised-button color="warn" *ngIf="i>3" (click)="deleteHeader(header.id, header.name)" ><mat-icon>remove</mat-icon></button>

	      </div>
	  	  </th>
	    </tr>
	  </thead>
	  <tbody cdkDropList (cdkDropListDropped)="drop($event)" >


	    <tr *ngFor="let record of data; let i=index" cdkDrag class="example-box" > 
	      	<td *ngFor="let key of headers"  >
	      	<!-- {{key | json}} -->
	      	<div class="d-flex justify-content-center align-items-center">
	      	
	      	<button style="width: 256px;" class="text-truncate" mat-button style="color: green" (click)="openDialog(record.id, record[key.name])"  *ngIf="key.name== 'description' && record[key.name] != '' ">{{record[key.name] | ellipsis:21 }}</button>


	      	<button mat-button (click)="openDialog(record.id, record[key.name])"  *ngIf="key.name== 'description' && record[key.name] == '' "  style="color: green">Add Description</button>
	      	</div>
	
  			<div class="" *ngIf="key.name=='category'">
  				<select class="form-control" [(ngModel)]="record[key.name]" >
  					<option value="" selected>browse</option>
  					<option>Option 1</option>
  					<option>Option 2</option>
  					<option>Option 3</option>
  				</select>
  			</div>

    		<input *ngIf="key.name != 'description' && key.name != 'category' " [disabled]="key.name==''" matInput class="form-control" [(ngModel)]="record[key.name]" value="{{record[key.name]}}">
    	
	      	</td>

	      	<td class="d-flex justify-content-center" *ngIf="i>0"><button mat-raised-button color="warn"  (click)="deleteItem(record.id) " > <mat-icon>remove</mat-icon>	 </button></td>
	    </tr>
	    
	  </tbody>
	</table>

	<div class="d-flex justify-content-end">
	<button mat-raised-button  color="primary" (click)="save() " >Save</button>
	</div>
</div>