/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-wrapper {
    padding-bottom: 1.34375em; 
    .ng-tns-c63-2{

    }
}

.mat-form-field{
	height: auto;
}
.colors { 
  width: 180px; 
  max-width: unset !important;
}

